#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.main-bg {
  padding: 10px 80px;
}

/* css for gallery component */
.g-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.g-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 2rem;
}

.g-title h2 {
  padding-top: 1rem;
}

.g-lower {
  padding: 0 2rem;
}

.g-item {
  padding: 2rem 0;
}

.g-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  background-color: #fff;
}

.g-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.g-img:first-child {
  grid-column: 1 / 3;
  grid-row: 1/3;
}

.g-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}